# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.pytest_cache/

# Env
.env
backend/.env

# Database
*.db
data/

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
*.swp
