@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F0EB;
  color: #1A1A1A;
  @apply antialiased;
}

.serif {
  font-family: Georgia, 'Times New Roman', serif;
}
